
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// Font-awesome
// @import "node_modules/font-awesome/scss/font-awesome.scss";

// body, html {
//   height: 100%;
//   margin: 0;
// }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  text-transform: uppercase;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
